* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.debug {
    background-color: rgb(153, 150, 150);
    height: 500px;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.row {
    display: flex;
}

.row-vertical {
    display: flex;
    flex-direction: column;
}

// COLOR PALETTE
:root {
    --gold: #BE9359;
    --grey: #B0B0B0;
    --dark-grey:#717070;
    --light: #FFFFFF;
    --dark: #000000;
}


:root {
    --bfont: 'Abril Fatface', serif;
    --afont: 'sans-serif';
}