// RESET RULES
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.debug {
    background-color: rgb(153, 150, 150);
    height: 500px;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 70px;
    font-family: var(--bfont);
    letter-spacing: 3px;
    color: var(--grey);
}

h3 {
    font-family: var(--bfont);
    font-weight: lighter;
    font-size: 28px;
    color: var(--gold);
}

// UTILITY CLASS
.container {
    max-width: 1140px;
    margin: 0 auto;
}

.container-lg {
    max-width: 1920px;
    margin: 0 auto; 
    padding: 120px 0; 
}

.row {
    display: flex;
}

.row-vertical {
    display: flex;
    flex-direction: column;
}

.col-3 {
    flex-basis: calc(100% / 4);
}

.col-4 {
    flex-basis: calc(100% / 3);
}

.col-5 {
    flex-basis: calc((100% / 12)* 5);
}

.col-6 {
    flex-basis: calc(100% / 2);
}

.col-7 {
    flex-basis: calc((100% / 12)* 7);
}

.button {
    font-weight: bold;
    padding: 15px 30px;
    color: var(--gold);
    border: 3px solid var(--gold); 
    display: inline-block;
    &:hover {
        background-color: var(--dark-grey);
    } 
}

.text-center {
    text-align: center;
}

.gold-title {  
    color: var(--gold);
    font-weight: bold;
    letter-spacing: 1px;
}

#app {
    max-width: 1920px;
    margin: 0 auto;
}


// COLOR PALETTE
:root {
    --gold: #BE9359;
    --grey: #B0B0B0;
    --dark-grey:#717070;
    --light-grey:#F5F5F5;
    --light: #FFFFFF;
    --dark: #121413;
}

// FONTS
:root {
    --bfont: 'Abril Fatface', serif;
    --afont: 'sans-serif';
}